body,
html {
    background-color: #F5F5F5;
    font-family     : 'Playball', sans-serif;
    text-align      : center;
    text-shadow     : 0 -1px rgba(1, 1, 1, 0.1);
}

.card-one {
    position        : absolute;
    left            : 513px;
    top             : 300px;
    width           : 504px;
    height          : 200px;
    background-color: #ffffff;
    margin-left     : calc(288px/-2);
    margin-top      : calc(504px/-2);
    box-shadow      : 0 5px 10px rgba(1, 1, 1, 0.25);
}

.name {
    position       : absolute;
    left           : 10px;
    top            : 70px;
    width          : 500px;
    height         : auto;
    color          : #111111;
    font-size      : 55px;
    text-align     : center;
    text-decoration: none;
}

.card-two {
    position        : absolute;
    left            : 385px;
    top             : 300px;
    width           : 350px;
    height          : 490px;
    background-color: #ffffff;
    margin-left     : calc(650px/-2);
    margin-top      : calc(40px/-2);
    box-shadow      : 0 5px 10px rgba(1, 1, 1, 0.25);
}

.dandalion {
    position   : absolute;
    left       : 361px;
    top        : 56px;
    width      : 80%;
    height     : 70%;
    margin-left: calc(650px/-2);
    margin-top : calc(40px/-2);
}

.card-two-text {
    position       : absolute;
    left           : 50px;
    top            : 400px;
    width          : 70%;
    height         : auto;
    color          : #111111;
    font-size      : 20px;
    text-align     : center;
    text-decoration: none;
    font-family    : sans-serif;
}

.card-three {
    position        : absolute;
    left            : 775px;
    top             : 325px;
    width           : 350px;
    height          : 360px;
    background-color: #ffffff;
    margin-left     : calc(650px/-2);
    margin-top      : calc(40px/-2);
    box-shadow      : 0 5px 10px rgba(1, 1, 1, 0.25);
}

.sunset {
    position   : absolute;
    left       : 361px;
    top        : 52px;
    width      : 80%;
    height     : 65%;
    margin-left: calc(650px/-2);
    margin-top : calc(40px/-2);
}

.card-three-text {
    position       : absolute;
    left           : 50px;
    top            : 285px;
    width          : 70%;
    height         : auto;
    color          : #111111;
    font-size      : 20px;
    text-align     : center;
    text-decoration: none;
    font-family    : sans-serif;
}

.card-four {
    position        : absolute;
    left            : 1165px;
    top             : 300px;
    width           : 350px;
    height          : 490px;
    background-color: #ffffff;
    margin-left     : calc(650px/-2);
    margin-top      : calc(40px/-2);
    box-shadow      : 0 5px 10px rgba(1, 1, 1, 0.25);
}

.nightsky {
    position   : absolute;
    left       : 361px;
    top        : 56px;
    width      : 80%;
    height     : 70%;
    margin-left: calc(650px/-2);
    margin-top : calc(40px/-2);
}

.card-four-text {
    position       : absolute;
    left           : 55px;
    top            : 400px;
    width          : 70%;
    height         : auto;
    color          : #111111;
    font-size      : 20px;
    text-align     : center;
    text-decoration: none;
    font-family    : sans-serif;
}

.card-five {
    position        : absolute;
    left            : 1250px;
    top             : 115px;
    width           : 200px;
    height          : 100px;
    background-color: #ffffff;
    margin-left     : calc(650px/-2);
    margin-top      : calc(40px/-2);
    box-shadow      : 0 5px 10px rgba(1, 1, 1, 0.25);
}

.link-modeling {
    position : absolute;
    left     : 40px;
    top      : 30px;
    font-size: 35px;
    color    : #1498ED;
}

.card-six {
    position        : absolute;
    left            : 440px;
    top             : 115px;
    width           : 200px;
    height          : 100px;
    background-color: #ffffff;
    margin-left     : calc(650px/-2);
    margin-top      : calc(40px/-2);
    box-shadow      : 0 5px 10px rgba(1, 1, 1, 0.25);
}

.card-six-text {
    position : absolute;
    left     : 55px;
    top      : 30px;
    font-size: 35px;
    color    : #111111;
}
